header {
    color: #fff; 
    position: sticky; /* Keeps the navbar fixed in place */
    top: 0; /* Positions it at the top of the viewport */
    left: 0; /* Aligns it to the left */
    background-color: #333; /* Background color */
    overflow: hidden; /* Prevents overflow */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: sticky;
}

nav .logo {
    font-size: 1.8em;
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav li:hover {
    text-decoration: underline;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background: #555;
    border-radius: 5px;
}